@font-face {
	font-family: alarm clock;
	font-display: swap;
	src: url('../fonts/alarm clock.woff2') format('woff2'), url('../fonts/alarm clock.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Calculator;
	font-display: swap;
	src: url('../fonts/Calculator.woff2') format('woff2'), url('../fonts/Calculator.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: chintzy;
	font-display: swap;
	src: url('../fonts/chintzy.woff2') format('woff2'), url('../fonts/chintzy.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: chintzys;
	font-display: swap;
	src: url('../fonts/chintzys.woff2') format('woff2'), url('../fonts/chintzys.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: digital;
	font-display: swap;
	src: url('../fonts/digital-7 (mono italic).woff2') format('woff2'), url('../fonts/digital-7 (mono italic).woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Computerfont;
	font-display: swap;
	src: url('../fonts/Computerfont.woff2') format('woff2'), url('../fonts/Computerfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Display St;
	font-display: swap;
	src: url('../fonts/Open 24 Display St.woff2') format('woff2'), url('../fonts/Open 24 Display St.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: digital;
	font-display: swap;
	src: url('../fonts/digital-7 (italic).woff2') format('woff2'), url('../fonts/digital-7 (italic).woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: digital;
	font-display: swap;
	src: url('../fonts/digital-7 (mono).woff2') format('woff2'), url('../fonts/digital-7 (mono).woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: digital;
	font-display: swap;
	src: url('../fonts/digital-7.woff2') format('woff2'), url('../fonts/digital-7.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: game_over;
	font-display: swap;
	src: url('../fonts/game_over.woff2') format('woff2'), url('../fonts/game_over.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: icons;
	font-display: swap;
	src: url('../fonts/icons.woff2') format('woff2'), url('../fonts/icons.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-Black.woff2') format('woff2'), url('../fonts/Montserrat-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-BlackItalic.woff2') format('woff2'), url('../fonts/Montserrat-BlackItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'), url('../fonts/Montserrat-BoldItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'), url('../fonts/Montserrat-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'), url('../fonts/Montserrat-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'), url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-Italic.woff2') format('woff2'), url('../fonts/Montserrat-Italic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-Light.woff2') format('woff2'), url('../fonts/Montserrat-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'), url('../fonts/Montserrat-LightItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'), url('../fonts/Montserrat-MediumItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'), url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-Thin.woff2') format('woff2'), url('../fonts/Montserrat-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'), url('../fonts/Montserrat-ThinItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-Black.woff2') format('woff2'), url('../fonts/Poppins-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-BlackItalic.woff2') format('woff2'), url('../fonts/Poppins-BlackItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-Bold.woff2') format('woff2'), url('../fonts/Poppins-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-BoldItalic.woff2') format('woff2'), url('../fonts/Poppins-BoldItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-ExtraBold.woff2') format('woff2'), url('../fonts/Poppins-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-ExtraLight.woff2') format('woff2'), url('../fonts/Poppins-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-ExtraLightItalic.woff2') format('woff2'), url('../fonts/Poppins-ExtraLightItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-Italic.woff2') format('woff2'), url('../fonts/Poppins-Italic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-Light.woff2') format('woff2'), url('../fonts/Poppins-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-LightItalic.woff2') format('woff2'), url('../fonts/Poppins-LightItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-Medium.woff2') format('woff2'), url('../fonts/Poppins-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-MediumItalic.woff2') format('woff2'), url('../fonts/Poppins-MediumItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-Regular.woff2') format('woff2'), url('../fonts/Poppins-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'), url('../fonts/Poppins-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-SemiBoldItalic.woff2') format('woff2'), url('../fonts/Poppins-SemiBoldItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-Thin.woff2') format('woff2'), url('../fonts/Poppins-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url('../fonts/Poppins-ThinItalic.woff2') format('woff2'), url('../fonts/Poppins-ThinItalic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
