meta(charset='utf-8')
<!--[if IE]>
meta(http-equiv='X-UA-Compatible', content='IE = edge')
<![endif]-->
link(rel='shortcut icon', href='favicon.ico')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
//-meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
//link(rel='stylesheet', type='text/css', href='css/mobile.css', media='screen and (max-width: 992px)')
link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css')
link(rel='stylesheet', type='text/css', href='css/style.css')
<!--[if lt IE 9]>
script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js')
<![endif]-->
