//.tags__body
//	.tags__title
//		img(src='https://source.unsplash.com/random/20x20', alt='icon')
//		h2 Tags
//	.tags__content
//		p Press enter or add a comma after each tag
//		ul.tags__list
//			input(type='text', spellcheck='false')
//	.tags__details
//		p
//			span 10
//			|  tags are remaining
//		button Remove All

._box
	label(for='tagList') Add tag (Press ENTER to Add new Tag)
	input#newTag(type='text')
	ul#tagList
