.counter
	.counter__body
		button.counter__btn.counter__btn_minus#minus(data-count='minus' type='button') -
		input.counter__value#num(type='text', name='Count', value='0')
		button.counter__btn.counter__btn_plus#plus(data-count='plus' type='button') +
	.counter__output
		span.counter__number#output 0
		span.counter__text#text штук
