.header__menu.menu
	button.menu__icon.icon-menu(type='button')
		span
		span
		span
	nav.menu__body#nav._nav
		ul.menu__list
			li.menu__item
				a.menu__link._link(href='#' data-link='.block1')
			li.menu__item
				a.menu__link._link(href='#' data-link='.block2')
			li.menu__item
				a.menu__link._link(href='#' data-link='.block3')
			li.menu__item
				a.menu__link._link(href='#' data-link='.block4')
		a.menu__btn(href='')
