.tabs._tabs
	ul.tabs__nav
		li.tabs__item
			button.tabs__link._tabs-link._active(type=button) 1
		li.tabs__item
			button.tabs__link._tabs-link(type=button) 2
		li.tabs__item
			button.tabs__link._tabs-link(type=button) 3
	.tabs__body
		.tabs__block._tabs-block._active
			h2.tabs__title one
			ul.tab__list
				li.tab__item
					span.tab__link a
				li.tab__item
					span.tab__link b
				li.tab__item
					span.tab__link c
				li.tab__item
					span.tab__link d
		.tabs__block._tabs-block
			h2.tabs__title two
			ul.tab__list
				li.tab__item
					span.tab__link a
				li.tab__item
					span.tab__link b
				li.tab__item
					span.tab__link c
				li.tab__item
					span.tab__link d
		.tabs__block._tabs-block
			h2.tabs__title three
			ul.tab__list
				li.tab__item
					span.tab__link a
				li.tab__item
					span.tab__link b
				li.tab__item
					span.tab__link c
				li.tab__item
					span.tab__link d
