block vars
	- var linkActive = ''

section.sidebar
	.sidebar__container
		.sidebar__content
			.sidebar__header
				.sidebar__line
					img.sidebar__img.sidebar__img_top(src='images/sidebar-line-top.png' alt='' loading='lazy')
				h1.sidebar__title МСТЁРСКИЙ ХУДОЖЕСТВЕННЫЙ МУЗЕЙ
				.sidebar__line
					img.sidebar__img(src='images/sidebar-line.png' alt='' loading='lazy')
			.sidebar__body
				block body
